<!DOCTYPE html>
<html xmlmns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/LayoutPadrao}">

<head>
<meta charset="UTF-8" />
</head>

<section layout:fragment="conteudo">

    <form method="POST" action="/titulos" th:object="${titulo}">
        <div class="card">
            <div class="card-title">
                <div th:insert="MensagemGeral"></div>
                <div th:insert="MensagemErro"></div>
                <div class="card-title">
                    <h3 class="titulo-card">Novo Título</h3>
                    <a class="btn btn-link link-card" href="/titulos">Voltar
                        para Pesquisa</a>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" th:field="*{codigo}" />
                <div class="form-group row">
                    <label for="descricao"
                        class="col-sm-2 col-form-label">Descrição</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
                            id="descricao" th:field="*{descricao}"
                            placeholder="Descrição">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dataVencimento"
                        class="col-sm-2 col-form-label">Data
                        Vencimento</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
                            th:field="*{dataVencimento}"
                            id="dataVencimento"
                            placeholder="Data Vencimento"
                            data-provide="datepicker"
                            data-date-format="dd/mm/yyyy"
                            data-date-autoclose="true"
                            data-date-language="pt-BR"
                            data-date-today-highlight="true"
                            data-date-orientation="botton">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="valor" class="col-sm-2 col-form-label">Valor</label>
                    <div class="col-sm-4">
                        <input type="text"
                            class="form-control js-currency"
                            th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
                            id="valor" th:field="*{valor}"
                            placeholder="Valor">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="statusTitulo"
                            th:field="*{statusTitulo}">
                            <option th:each="status : ${statusTitulos}"
                                th:value="${status}"
                                th:text="${status.descricao}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>

</html>