<!DOCTYPE html>
<html xmlmns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Cobranças</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/open-iconic-bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div th:insert="Cabecalho"></div>

    <section layout:fragment="conteudo">
        <p>Page content goes here</p>
    </section>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="/js/jquery.maskMoney.min.js"></script>
    <script src="/js/cobranca.js"></script>
</body>
</html>